<<<<<<< HEAD
﻿@model Final_Retail.Models.UploadDocumentViewModel

<h2>Upload Document</h2>

<form asp-action="UploadDocument" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="File" class="control-label"></label>
        <input asp-for="File" type="file" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Upload Document" class="btn btn-primary" />
    </div>
</form>
=======
﻿@model Final_Retail.Models.UploadDocumentViewModel

<h2>Upload Document</h2>

<form asp-action="UploadDocument" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="File" class="control-label"></label>
        <input asp-for="File" type="file" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Upload Document" class="btn btn-primary" />
    </div>
</form>
>>>>>>> 1c0e17787d4e6a4bebdd1ef0692a2fa41b7378a6
